@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --niro-blue: #005acd;
  --niro-light-blue: #F5FBFF;
  --niro-accent: #00A9FF;

  /* A standard dark gray for text */
  --text-color: #374151; 
}


body {
  background-color: var(--niro-light-blue);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--niro-accent);
  color: white;
}
